<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DynamicPage</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 style="color: white">Item Quantity</h1>
      <input
        type="number"
        id="quantity"
        placeholder="Enter quantity"
        style="width: 200px"
        min="1"
        max="10"
      />
      <button id="submitBtn">Submit</button>
    </div>
    <div id="items-container"></div>

    <script src="/script.js"></script>
    <script src="/ejs.min.js"></script>
  </body>
</html>
